$navbar-default-bg: #232121;

@import "bootstrap-sprockets";
@import "bootstrap"; 

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center 
}

.jumbotron {
  background-image: asset-url('MCC2.JPG');
  background-size: cover;
  height: 750px;
}

jumbotron h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: black;
}